:root{
    --colour1: #023C4D;
    --colour2: #f8f8f8;
    --colour3: #5ba95d;
}

body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.app-container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../public/forest.jpg");
    background-size: cover;
    backdrop-filter: blur(5px);
    
}

.app-container:before {
    content: "";
    position: absolute;
    filter: blur(5px);
    background: inherit;
    z-index: -1; 
    width: 100%;
    height: 100%;
  }

.app-container >h1 {
    color: var(--colour1)
}

.quiz-container {
    background-color: var(--colour1);
    padding: 2rem;
    border-radius: 2%;
    max-width: 40rem;
    text-align: center;

}

.quiz-text-container > * {
    color: var(--colour3);
    text-align: left;
}

.quiz-button{
    text-align: center;
}

.answer-list {
    padding: 0;
    list-style-type: none;
}

.answer-option {
    padding: 1rem;
    margin: 0.5rem;
    border-style: solid;
    border-width: 0.01rem;
    
}

li.answer-option:hover{
    background-color: var(--colour2);
    color: var(--colour1);
} 

.quiz-button{
    color: var(--colour3);
    background-color: var(--colour1);
    padding: 0.5rem;
    border-style: solid;
    border-width: 0.01rem;
    border-radius: 2%;
    border-color: var(--colour3);
}

.quiz-button:active{
    color:var(--colour1);
    background-color: var(--colour2);
    border-color: var(--colour2);
}